<h1> TEST PAGE </h1>
<h1> TEST PAGE </h1>
<h1> TEST PAGE </h1>
<h1> TEST PAGE </h1>
<h1> TEST PAGE </h1>
<h1> TEST PAGE </h1>
<h1> TEST PAGE </h1>
<h1> TEST PAGE </h1>
<p>
	<%= link_to('Return to navigaiton', {:action=>'navigation'}) %>
</p>
<p>
	<%= "passed id is equal to: " + params[:id]%> 	
</p>
