<p>

	<!-- <a href='test'>Link to test page in the same directory</a> -->
	 <!-- bo bezposrednio widzi w tym katalogu ta strone - nie trzeba podawac rozszerzenia -->
	<%= link_to('Link to sth',{:action=>:default, :id=>2, :page=>3}) %>
</p>
<p>
	<%= link_to('Link to index page',{:action=>:index, :id=>6, :page=>9}) %>

</p>
