<% @title_page = @page.name %>

<% lp = 1 %>
    <div class="container">
        <div id="row">
            <h2><%= @page.name %></h2>
            <% @page.articles.visible.sort.each do |article| %>
                <% if lp % 2 == 0 %>
                    <div class="col-md-8">
                        <p><% article.content %></p>
                    </div>
                    <div class="col-md-4">
                        <%= image_tag(article.pictures.url, :class => 'featurette-image img-responsive')%>
                    </div>
                <%else%>
                        <div class="col-md-4">
                            <%= image_tag(article.pictures.url, :class => 'featurette-image img-responsive')%>
                        </div>
                        <div class="col-md-8">
                            <p><% article.content %></p>
                        </div>

                <%end%>
                <div class="col-md-12"><hr></div>
                <% lp += 1 %>
            <%end%>
            <div class="col-md-12">
                <%= link_to('Return',{:controller => 'public', :action => 'categories', :category_id => @page.category.id}, :class => 'btn btn-default')%>
            </div>
        </div>
    </div>
