<div class="hetero-unit">
<h1>Removing of the article</h1>

<%= form_for(:article, :url => {:action => 'remove', :page_id => @pages.id, :id => @articles.id}) do |field| %>
    <p> Do you really want to remove this article?</p>
    <p><%= @articles.name %> </p>
    <div style="text-align: center;">
        <%= link_to("Return", {:action => 'index', :page_id => @pages.id}, :class => 'btn btn-primary') %>
        <%= submit_tag("Delete", :class=> 'btn btn-danger') %>
    </div>
<% end %>
</div>






