<div class="hetero-unit">
<h1>Removing of the category</h1>

<%= form_for(:Category, :url => {:action => 'remove', :id => @category.id}) do |field| %>
    <p> Do you really want to remove this category?</p>
    <p><%= @category.name %> </p>
<div style="text-align: center;">
    <%= link_to("Return", {:action => 'index'}, :class => 'btn btn-primary') %>
    <%= submit_tag("Delete", :class=> 'btn btn-danger') %>
</div>
<% end %>
</div>




