<div class="hetero-unit">
    <h1>Removing of the page</h1>

<%= form_for(:papge, :url => {:action => 'remove', :id => @page.id, :category_id => @category.id}) do |field| %>
        <p> Do you really want to remove this page?</p>
        <p><%= @page.name %> </p>
        <div style="text-align: center;">
            <%= link_to("Return", {:action => 'index'}, :class => 'btn btn-primary') %>
            <%= submit_tag("Delete", :class=> 'btn btn-danger') %>
        </div>
    <% end %>
</div>





