<div class="hero-unit">
<h1>New Page</h1>

<%= form_for(:page, :url => {:action => 'create', :category_id => @category.id} ) do |field| %>

<%= render(:partial => "form", :locals => {:field => field}) %>

<div style="text-align: center">
<%= link_to("Return", {:action => 'index', :category_id => @category.id }, :class => 'btn btn-warning') %>
<%= submit_tag("Create", :class => 'btn btn-primary' ) %>
</div>

<% end %>
</div>
